* {
    padding: 5px;
    font-family: 'Gill Sans MT';
}
body {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
.ring{
        color: rgb(27, 6, 6);
        font-size: 40px;
        width: auto;
        margin: 15px;
        padding-top: 20px;
    }
.header{
    font-family: "OCR A";
    font-size: 30px;
    color: rgb(2, 2, 1);
    padding: 20px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.main-menu{
    flex: 1;
    text-align: left;
}
.main-menu ul li{
    list-style: none;
    display: inline-block;
    padding: 11px 12px;
    position: relative;
}

.main-menu ul li a{
    text-decoration: none;
    color: rgb(36, 3, 58);
    font-size: 20px;
    font-family: 'Dubai';
}
.slider{
	margin:50px auto;
	width:50%;
}
 
.img-box img{
	width:100%;
}

.btn{
	border:none;
	outline:none;
	background:#888;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;			 
}

.btn:hover{
	background: #111;
}
