* {
    padding: 5px;
    font-family: 'Gill Sans MT';
}
body {
    background-image: url('https://raw.githubusercontent.com/DailyNumericals/DailyNumericals.github.io/main/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
.ring{
        color: rgb(27, 6, 6);
        font-size: 4vw;
        width: auto;
        margin: 15px;
        padding-top: 10px;
        
    }
.header{
    font-size: 3vw;
    font-family: "OCR A";
    color: rgb(2, 2, 1);
    padding: 20px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.main-menu{
    flex: 1;
    text-align: left;
}
.main-menu ul li{
    list-style: none;
    display: inline-block;
    padding: 11px 12px;
    position: relative;
}

.main-menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Gill Sans MT';
    border-style: solid;
    background-color: rgb(0, 0, 0);
}
.slider{
	margin:50px auto;
    max-width: 900px;
    height:auto;

}
 
.img-box img{
    width: 100%;
    
}

#btnsp {
background-color: #13b4e6; /* Green */
  border: none;
  font-family: "Maiandra GD";
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vh;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.bouncy{
    animation:bouncy 6s infinite linear;
    position: relative;
    }
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }
    .pagination {
        display: inline-block;
        font-size: 3vh;
        padding: 8px 16px;
      }
      
      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
      }
      
      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;}